<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CallMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SiriSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SiriSampleIntentsExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SiriSampleIntentsUIExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD73327F1E4F3C5C00CEAA12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7332F91E4F434900CEAA12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD19D931E50B5050058F4F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDA3F7D1E4F392300224C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDA3F961E4F394800224C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
